*{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#credentialsContainer{
    -fx-border-radius: 1 1 1 1;
    -fx-border-color: black;
}

#clockPane{
    -fx-background-color: #414a4c;
}

#doorBtnActionActive{
    -fx-background-color: #5a75ff;
}
.button {
    -fx-text-fill: darkorange;
    -fx-border-color: rgba(255, 255, 255, .80);
    -fx-border-radius: 8;
    -fx-padding: 70 1 1 1;
    -fx-font: bold italic 10pt "LucidaBrightDemiBold";

}

.buttonB {
    -fx-text-fill: darkblue;
    -fx-border-color: rgba(255, 255, 255, .80);
    -fx-border-radius: 8;
    -fx-padding: 70 1 1 1;
    -fx-font: bold italic 10pt "LucidaBrightDemiBold";
    -fx-background-image: url("/images/door_closed.png");
    -fx-background-size: cover;
}

/*#bedroomButton{*/
     /*-fx-background-image: url("/resources/icons/curtain_up.png");*/
     /*-fx-background-size: cover;*/
 /*}*/

/*#bedroomButton:pressed{*/
    /*-fx-background-image: url("/resources/icons/curtain_down.png");*/
    /*-fx-background-size: cover;*/
/*}*/

/*#doorButton{*/
    /*-fx-background-image: url("/resources/icons/door_open.png");*/
    /*-fx-background-size: cover;*/
/*}*/

#doorBtn:pressed{
    -fx-background-image: url("/images/door_open.png");
    -fx-background-size: cover;
}